// COLOR VARIABLES
$primary-color: #5085a5;
$secondary-color:  #8fc1e3;

$header-color: rgba(0,0,0,.5);

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;


// FONT VARIABLES
$primary-font: 'Open Sans', sans-serif;

//global mixins
@mixin content-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5rem;
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px =62.5% -> 1rem = 10px
}

body{
  font-family: $primary-font;
//   font-weight: 300;
//   line-height: 1.5;
//   background-color: $color-grey-light-2;
  color: $color-grey-light-1;
}

.grid{
  display: grid;
  grid-template-rows: 100vh; 
}